body {
	color: #404040;
	font-size: 11pt;
	font-family: Georgia, Garamond, serif;
	background-image: url("../images/silverware.jpg");
}

a {
	color: #A4A400;
}

ul {
	list-style-image: url("../images/pie_icon.gif");
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

@media (min-width:768px) {
	.container {
		width: 750px
	}
}

@media (min-width:992px) {
	.container {
		width: 970px
	}
}

@media (min-width:1200px) {
	.container {
		width: 1170px
	}
}

h2 {
	background-color: #F0F0F0;
	color: #A4A400;
	font-family: Lucida Sans Unicode, Helvetica, Arial, sans-serif;
	font-size: 18pt;
	text-decoration: underline;
	display:inline;
	word-spacing: 0.25em;
}

.mainpage ul {
	list-style-type: none;
	list-style-image:none;
	padding-left: 0px;
}

.mainpageheader {
	text-align: center;
	font-weight: bold;
	font-size: 22pt;
}

.usercomment {
	margin-left:30px;
	margin-right:30px;
	background-color: #FFFFA8;
}

.directionHeader {
	font-weight: bold;
	font-style: italic;
	background-color: #FFFFA8;
}
