body {
	background-image: url("../images/background.png");
	padding: 0;
	margin: 0;
	
	font-size: 8pt;
	font-family: Verdana, Tahoma, sans-serif;
}

.textcenter-align {
	text-align: center;
}

.titleheader {
	text-align: center;
	font-size: 24pt;
	font-family: Tahoma, Verdana, sans-serif;
	text-shadow: 3px 3px #999999;
}
.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

@media (min-width:768px) {
	.container {
		width: 750px
	}
}

@media (min-width:992px) {
	.container {
		width: 970px
	}
}

@media (min-width:1200px) {
	.container {
		width: 1170px
	}
}

.rightside {
	float: right;
	width: 25%;
	background-color: #A2B964;
	border-top-right-radius: 16px;
	font-size: 8pt;
	font-family: Arial,sans-serif;
	display: block;
	height: 950px;
	border-bottom-right-radius: 16px;
}

.rightside dt {
	font-weight: bold;
	padding-left: 10pt;
}

.rightside dd {
	padding-bottom: 10pt;
}

.rightside ul {
	list-style-type: none;
	padding-left: 0;
}

.rightsideoverview img {
	width: 100%;
	border-top-right-radius: 16px;
}

.quotebox {
	background: #E8DC9B;
	border: 2px solid gray;
	border-radius: 10px;
	padding: 8px;
}

.quotebox img {
  float: left;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.critic img {
  float: left;
  padding-top: 0px;
  padding-right: 5px;
  padding-left: 3px;
}

.leftsection {
	float: left;
	width: 75%;
	display: block;
}

.contentbox {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	border: 4px solid gray;
	border-radius: 20px;
	padding-bottom: 0px;
	height: 950px;
}

.contentboxheader {
	background-image: url("../images/rbg.png");
	padding-left: 20px;
	border-top-left-radius: 16px;
	height: 83px;
}

.contentboxfooter {
	border-top-left-radius: 16px;
	height: 83px;
	text-align: center;
	background: #A2B964;
	float: left;
}
.ratingtext {
	font-size: 48pt;
	font-weight: bold;
	color: red; 
	vertical-align: top;
	width: 550px;
}

.contentcolumn {
	float: left;
	width: 46%;
	padding: 2%;
	padding-bottom: 20pt;
}

.banner {
	background-image: url("../images/bannerbg.png");
	text-align: center;
}

.pagingtext {
	display: block;
	text-align: center;
	padding-top: 400px;
	float: none;
}
footer {
	float: right;
}
