body {
	margin: 0;
	padding: 0;
}

p:first-letter {
  font-weight: bold;
  font-size: 1.5em;
  float: left;
  font-family: Georgia;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.container {
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto
}

@media (min-width:768px) {
	.container {
		width: 750px
	}
}

@media (min-width:992px) {
	.container {
		width: 970px
	}
}

@media (min-width:1200px) {
	.container {
		width: 1170px
	}
}

.headerbanner {
	padding-top: 30px;
	padding-bottom: 30px;
	margin-bottom: 30px;
	color: inherit;
	background-color: #eee
}

.container .headerbanner {
	padding-right: 15px;
	padding-left: 15px;
	border-radius: 6px
}

#aboutmedesc {
	font-size: 1em;
	font-family: Arial,Arial Black,Verdana,Trebuchet MS,Georgia,Tahoma,Courier New,Times New Roman;
	
}

.navmenu {
	font-size: 1.1em;
	font-family: Arial Black;
	text-align: right;
}

a {
	text-decoration: none;
}

a {
	background-color: transparent
}

a:active, a:hover {
	outline: 0
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: underline;
}

.most-favorite {
	background-color: yellow;
	
}